{:duct.profile/base
 {:duct.core/project-ns duct-sample-api

  :duct.router/ataraxy
  {:routes
   {"/samples"
    {[:get] [:duct-sample-api.handler.sample/list]
     [:post {sample :body-params}] [:duct-sample-api.handler.sample/create sample]
     ["/" id]
     {[:get] [:duct-sample-api.handler.sample/fetch ^int id]}}}}

  :duct-sample-api.handler.sample/list {:db #ig/ref :duct.database/sql}
  :duct-sample-api.handler.sample/create {:db #ig/ref :duct.database/sql}
  :duct-sample-api.handler.sample/fetch {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/test   #duct/include "test"
 :duct.profile/prod
 {:duct.migrator/ragtime
  {:migrations [#ig/ref :duct-sample-api.migration/prod]}

  [:duct.migrator.ragtime/resources :duct-sample-api.migration/prod]
  {:path "migrations/postgres"}}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
